<section class="section section-blue" id="grande-dia">
    <div class="section-header fade-in">
        <p class="eyebrow">O grande dia</p>
        <h2>Informações do evento</h2>
        <p>
            {% if config %}
            Nosso casamento será celebrado na capela do hotel Fazenda Portal de Gravatá mesmo lugar da recepção,
            um lugar encantador que escolhemos para viver esse momento tão especial. 
            Estamos ansiosos para compartilhar esse dia inesquecível com vocês. 
            Preparem-se para uma celebração cheia de amor, alegria e muita diversão 
            em um cenário especial para compartilhar esse momento com quem amamos.
            {% else %}
            Reserve esse momento com carinho. Será um dia inesquecível para nós.
            {% endif %}
        </p>
    </div>

    <div class="info-grid">
        <div class="info-card">
            <h3>Data</h3>
            <p>{{'10 de outubro de 2026' }}</p>
        </div>

        <div class="info-card">
            <h3>Horário</h3>
            <p>16:00h</p>
        </div>

        <div class="info-card destaque-local">
            <h3>Local do Evento</h3>
            <p>{{ evento.local_cerimonia if evento else 'Hotel Fazenda Portal de Gravatá' }}</p>
            <small>{{ evento.endereco_cerimonia if evento else 'BR-232, s/n - Novo Gravatá, Gravatá - PE' }}</small>
        </div>
    </div>

    <div class="map-actions">
        <a href="https://www.google.com/maps/place/Hotel+Fazenda+Portal+de+Gravatá/@-8.2009278,-35.5928573,17z/data=!3m1!4b1!4m9!3m8!1s0x7aa37b8eecb0ac5:0x6a5934f2c5a85835!5m2!4m1!1i2!8m2!3d-8.2009278!4d-35.590277!16s%2Fg%2F11bxdrn268?entry=ttu&g_ep=EgoyMDI2MDQxNS4wIKXMDSoASAFQAw%3D%3D"
            class="btn-primary" target="_blank">
            Abrir no Google Maps
        </a>
    </div>
</section>