<section class="hero" id="inicio">
    <div class="overlay"></div>

    <div class="hero-content fade-in">
        <h1 class="nomes">Karine <span>&</span> Josué</h1>

        <p class="data">
            10 de outubro de 2026 • 15:30h
        </p>

        <p class="frase">
            Com alegria, convidamos você para viver esse momento especial conosco 💙
        </p>

        <a href="#rsvp" class="btn-confirmar">
            Confirmar Presença
        </a>

        <div class="contador">
            <div>
                <span id="dias">175</span>
                <p>Dias</p>
            </div>
            <div>
                <span id="horas">14</span>
                <p>Horas</p>
            </div>
            <div>
                <span id="minutos">29</span>
                <p>Min</p>
            </div>
        </div>
    </div>
</section>