<section class="section section-light" id="mensagem">
    <div class="mensagem-box">
        <h2>Deixe uma mensagem para o casal 💙</h2>
        <p>
            Seu carinho faz parte desse momento. Se quiser, deixe um recadinho especial para os noivos.
        </p>

        <form class="mensagem-form">
            <input type="text" placeholder="Seu nome">
            <textarea placeholder="Escreva sua mensagem"></textarea>
            <button type="button" class="btn-primary">Enviar mensagem</button>
        </form>
    </div>
</section>